<!DOCTYPE html>
<html>
<head>
  <style>

    body {
      padding-top: 20px;
      font-size: 16px;
      color: #FFFFFF;
      font-family: "Open Sans", serif;
      background: transparent;
    }

    h1 {
      font-family:"Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }

  </style>
</head>
<body>
  <div class="container">
      <div class="resume">
        {{.Body}}
      </div>
  </div>
</body>
</html>
