<!DOCTYPE html>
<html>
<head>
  <style>

    .jumbotron {
      background: transparent;
    }

    .lead {
      padding-top:20px;
    }

  </style>
  </head>
<body>
  <div class="container">
      <div class="jumbotron">
        <h1>Reed Allman</h1>
        <p class="lead">
          <a href="mailto:rdallman10@gmail.com"><img src="assets/somicro/email.png" alt="Email"></a>
          <a href="https://twitter.com/rdallman10"><img src="assets/somicro/twitter.png" alt="Twitter"></a>
          <a href="https://facebook.com/reed.allman"><img src="assets/somicro/facebook.png" alt="Facebook"></a>
          <a href="https://plus.google.com/118235545879460425194"><img src="assets/somicro/gplus.png" alt="Google+"></a>
          <a href="http://www.linkedin.com/in/rdallman10"><img src="assets/somicro/linkedin.png" alt="LinkedIn"></a>
          <a href="https://github.com/rdallman"><img src="assets/somicro/github.png" alt="Github"></a>
          <a href="https://news.ycombinator.com/user?id=rdallman"><img src="assets/somicro/hn.png" alt="Hacker News" width="32" height="32"></a>
          <a href="http://open.spotify.com/user/rdallman10"><img src="assets/somicro/spotify.png" alt="Spotify"></a>
          <a href="http://reddit.com"><img src="assets/somicro/reddit.png" alt="Reddit"></a>
        </p>
      </div>
  </div>
</body>
</html>
