<!DOCTYPE html>
<html>
<head>
<style>

.jumbotron {
  background: transparent;
  padding-bottom: 20px;
}

.jumbotron p {
  font-size: 28px;
  font-weight: 400;
}

.centered {
  margin: auto;
  max-width: 600px;
}

.centertext {
  text-align: center;
}

.row-icons {
  padding: 10px 0px 0px 0px;
}

.col-xs-6 {
  padding: 5px 10px 5px 10px;
}

.fa-2x {
  color: white;
  padding: 0px 5px 0px 5px;
}

@media (max-width: 768px) {
  .jumbotron p{
    font-size: 20px;
  }
}

.back {
  display: none !important;
}

</style>
</head>
<body>
<div class="jumbotron centertext">
    <h1>Hi, I'm Reed</h1>
    <p>
    I make computers do things
    </p>
</div>
<div class="row centered">
  <div class="col-xs-6 col-sm-3 centertext">
    My mouth<br>
    <div class="row-icons centertext">
      <a href="https://twitter.com/rdallman10"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://medium.com/@rdallman10"><i class="fab fa-medium-m fa-2x"></i></a>
      <a href="https://speakerdeck.com/rdallman"><i class="fab fa-slideshare fa-2x"></i></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 centertext">
    My things<br>
    <div class="row-icons centertext">
      <a href="https://github.com/rdallman"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.goodreads.com/rdallman"><i class="fab fa-goodreads fa-2x"></i></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 centertext">
    My capitalism<br>
    <div class="row-icons centertext">
      <a href="/hire/resume"><i class="fas fa-file-alt fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/rdallman10"><i class="fab fa-linkedin fa-2x"></i></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 centertext">
    Me<br>
    <div class="row-icons centertext">
      <a href="mailto:reed@rdallman.com"><i class="far fa-envelope-open fa-2x"></i></a>
      <a href="https://keybase.io/rdallman"><i class="fab fa-keybase fa-2x"></i></a>
    </div>
  </div>
</div>
</body>
</html>
