<!DOCTYPE html>
<html>
<head>
<style>

.jumbotron {
  background: transparent;
  padding-bottom: 20px;
}

.jumbotron p {
  font-size: 28px;
  font-weight: 400;
}

.centered {
  margin: auto;
  max-width: 600px;
}

.centertext {
  text-align: center;
}

.row-icons {
  padding: 10px 0px 0px 0px;
}

.col-xs-6 {
  padding: 5px 10px 5px 10px;
}

.fa {
  color: white;
  padding: 0px 5px 0px 5px;
}

@media (max-width: 768px) {
  .jumbotron p{
    font-size: 20px;
  }
}

.back {
  display: none !important;
}

</style>
</head>
<body>
<div class="jumbotron centertext">
    <h1>Hi, I'm Reed</h1>
    <p>
    I make computers do things
    </p>
</div>
<div class="row centered">
  <div class="col-xs-6 col-sm-3 centertext">
    My mouth<br>
    <div class="row-icons centertext">
      <a href="https://twitter.com/rdallman10"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://speakerdeck.com/rdallman"><i class="fa fa-slideshare fa-2x"></i></a>
      <a href="https://medium.com/@rdallman10"><i class="fa fa-medium fa-2x"></i></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 centertext">
    My things<br>
    <div class="row-icons centertext">
      <a href="https://github.com/rdallman"><i class="fa fa-github fa-2x"></i></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 centertext">
    My capitalism<br>
    <div class="row-icons centertext">
      <a href="/hire/resume"><i class="fa fa-file-text-o fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/rdallman10"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 centertext">
    Me<br>
    <div class="row-icons centertext">
      <a href="#"
        onclick="JavaScript:window.location='mailto:'+'rdallman10'+'@'+'gmail'+'.com'">
        <i class="fa fa-envelope-square fa-2x"></i></a>
    </div>
  </div>
</div>
</body>
</html>
