
<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="assets/js/handlebars.js"></script>

  <style>

    .carousel .item {
      height: 300px;
      text-align: center;
    }

    .carousel-inner > .item > img {
      display: inline-block;
      height: 300px;
    }

  </style>
</head>
<body>
  <div id="menu-placeholder"></div>
    <script id="menu-template" type="text/x-handlebars-template">
      {{#each project}}
        {{#if @index}}
          <hr class="featurette-divider">
        {{/if}}
        <div class="row featurette">
          <div class="col-sm-7 col-xs-12">
            <h2 class="featurette-heading">{{name}}  <span class="text-muted">{{platform}}</span></h2>
            <p class="lead">{{desc}}</p>
            {{#each links}}
              <a href={{url}}><img src={{img}}>
            {{/each}}
          </div>
            <div class="col-sm-5 col-xs-12">
              <div id="myCarousel{{@index}}" class="carousel slide">
                <div class="carousel-inner">
                  {{#each this.pictures}}
                    <div class="item {{#unless @index}}active{{/unless}}">
                      <img class="featuretter-image img-responsive" src={{this}} alt="something{{@index}}">
                    </div>
                  {{/each}}
                </div>
                <a class="left carousel-control" href="#myCarousel{{@index}}" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel{{@index}}" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </div>
          </div>
      {{/each}}
</script>
<script type="text/javascript" src="assets/js/projects.js" /></script>
   </body>
 </html>
