
<!DOCTYPE html>
<html>
<head>

  <style>

    .carousel .item {
      height: 300px;
      text-align: center;
    }

    .carousel-inner > .item > img {
      display: inline-block;
      height: 300px;
    }


  </style>
</head>
<body>
<div class="container">
      <ul>
      {{ range $index, $val := . }}
        {{ if $index }}
          <hr class="featurette-divider">
        {{ end }}
        <div class="row featurette">
          <div class="col-sm-7 col-xs-12">
            <h2 class="featurette-heading">{{.Name}}  <br><span class="text-muted">{{.Platform}}</span></h2>
            <p class="">{{ .Summary }}</p>
            <p>
            {{ range .Links }}
              <a href={{.Url}}><img src={{.Img}}>
            {{ end }}
            </p>
          </div>
            <div class="col-sm-5 col-xs-12">
              <div id="myCarousel{{$index}}" class="carousel slide">
                <div class="carousel-inner">
                  {{ range $i, $val := .Pictures}}
                  <div class="item {{if not $i}}active{{end}} ">
                    <img class="featuretter-image img-responsive" src={{ . }} alt="something{{$i}}">
                  </div>
                  {{end}}
                </div>
                <a class="left carousel-control" href="#myCarousel{{$index}}" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel{{$index}}" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </div>
          </div>
        {{end}}
        </ul>
  </div>
</body>
</html>
